body {
    margin: 0;
}

.header-area .background-img {
    background-image: url('../images/banner/banner3.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 960px;
    /* background-size: 100% 100%; */
    /* height: 900px; */
    display: flex;
    align-items: center;
}
.container {
    width: 70%;
    margin: auto;
}
.header-area .tex-area {
    text-align: end;
    color: white;
}
.header-area .tex-area h1 {
    font-size: 90px;
    margin-bottom: 0;

    /* font-family: "Kanit", sans-serif;
    font-weight: 900;
    font-style: normal; */
}
.header-area .tex-area p {
    /* font-family: "Kanit", sans-serif; */
    font-size: 25px;
    color: rgb(201, 220, 236);
}
button {
    padding: 20px 30px;
    border: none;
    border-radius: 8px;
    font-size: 28px;
    color: rgb(62, 62, 238);
    /* font-family: "Kanit", sans-serif; */
}


/* section1 */

.person-and-failures {
    display: flex;
    justify-content: space-around;
}
.person img {
    /* width: 30vw; */
    width: 105%;
}
.person {
    margin-top: 15%;
}
.failures {
    margin-top: 29%;
}
.failures h1 {
    /* font-size: 2.6vw; */
    font-size: 52px;
}
.failures ul li {
    list-style: none;
    margin-left: -38px;
}
.failures ul li img {
    width: 17px;
}
.failures p, li {
    /* font-size: 1.1vw; */
    font-size: 22px;
    color: rgb(101, 109, 116);
}

/* section2 */

.plans {
    margin-top: 150px;
}
.headline {
    text-align: center;
    margin-bottom: 50px;
}
.headline h1 {
    font-size: 50px;
}
.plan-items h2 {
    font-size: 30px;
    margin-bottom: 0;
}
.plan-items p {
    font-size: 22px;
    margin-top: 2px;
}
.plan-items {
    display: flex;
    justify-content: space-around;
}
.plan-items .web img {
    width: auto;
    /* text-align: center;
    justify-content: center; */
}
.center-img {
    text-align: center;
}


/* section3 */

.hand-background-text h1 {
    color: white;
    /* font-size: 2.8vw; */
    font-size: 53.76px;
}
.hand-background-text {
    background-image: url(../images/gradient1.png), url(../images/watch.png);
    background-size: 100%;
    height: 352px;
    background-repeat: no-repeat;
    margin-top: 150px;
    margin-bottom: 150px;
    display: flex;
}

.hand-background-text .text {
    margin-left: 50px;
    margin-top: 10px;
}



/* footer */

.future-and-Subscribe {
    width: 100%;
    height: 600px;
    background-color: black;
    color: white;
}
.future-and-Subscribe .flex-style {
    display: flex;
    height: 600px;
    align-items: center;
    justify-content: space-between;
 }
.future-and-Subscribe .subscribe {
    margin-top: -102px;
}
.future-and-address h1 {
    /* font-size: 3vw; */
    font-size: 58px;
} 
.future-and-address p {
    font-size: 23px;
    margin-bottom: 40px;
}
.future-and-address .icons {
    margin-top: 30px;
}
.future-and-address .icons img {
    width: 35px;
    margin-right: 15px;
}
.future-and-address br {
    margin-bottom: 10px;
}
.subscribe input {
    padding: 15px 30px;
    border-radius: 8px;
    background-color: black;
    border:1px solid white;
    color: white;
    font-size: 20px;
}
.footer-butt {
    margin-top: 20px;
    padding: 20px 40px;
    color: white;
    background-color: #1062ae;
    font-size: 18px;
}